{% extends "base/base.html" %}
{% load i18n static %}
{% load custom_tags %}

{% block title%}
{{form}}
{% endblock%}

{% block content %}
{% if permission__workflow and form.workflow %}
    <a id="workflow"  href="{% url 'forms:workflow_view' form.workflow.id  %}" target="_blank" class="w3-xlarge">
        <p>View flow</p>
    </a>
{% endif %}
{% include "jsonForm_blocks/form_block.html" with form=form section_forms=section_forms case_form=case_form view=view%}
{% endblock%}

{% block footer_line %}
{% endblock %}
