{% extends "base/base.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<script src="https://d3js.org/d3.v6.min.js"></script>
<style>
    .node rect {
        fill: #fff;
        stroke: #000;
        stroke-width: 2px;
    }

    .link {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }

    .label {
        font: 12px sans-serif;
        fill: #000;
        pointer-events: none;
    }
</style>
{% endblock %}
{% block title %}
Workflow Diagram
{% endblock %}
{% block content %}
{% include "jsonForm_blocks/case_workflow_block.html" with workflow_data=workflow_data%}
{% endblock%}

