{% load custom_tags %}

{% block content %}
<div id="dynamic-div" class="w3-row">
</div>
    <script>
        // The data passed from Django view
        const section_datas = {{section_datas|safe}}
        var file_download_url = "{% url 'api:app_case_details_file_download' app_name form_code case_id 0 %}"; // Use a placeholder for the ID

        const data_table = {}
        // Function to create table header
        function createTableHeader(headerRow, fields) {
            for (let [key, value] of Object.entries(fields)) {
                let th = document.createElement('th');
                th.textContent = value['label']
                headerRow.appendChild(th);
            }
        }

        // Function to create table body
        function createTableBody(tableBody, fields, records) {
            records.forEach(record => {
                let tr = document.createElement('tr');
                for (let [key, value] of Object.entries(fields)) {
                    let td = document.createElement('td');
                    if (key.includes("__") && key.includes("json")) {
                        fiels_keys = splitIfContains(key, "__")
                        if (record[fiels_keys[0]] !== undefined && record[fiels_keys[0]] !== null) {
                            td.textContent = record[fiels_keys[0]][fiels_keys[1]] || '--';  // Default to 'N/A' if value is missing
                        } else {
                            td.textContent =  '--';  // Default to 'N/A' if value is missing
                        }
                    } else if (key.includes("__") && key.includes("link__")) {
                        fiels_keys = splitIfContains(key, "__")
                        let link = document.createElement('a');
                        console.log()
                        link.href = urls[fiels_keys[1]] + record[fiels_keys[2]]; // URL of the link
                        link.textContent = fiels_keys[1]; // Text to display for the link
                        td.appendChild(link);
                    }
                    else {
                        td.textContent = record[key] || '--';  // Default to 'N/A' if value is missing
                    }
                    tr.appendChild(td);
                }
                tableBody.appendChild(tr);
            });
        }
        // Function to create Display Block
        function createDisplayBlock() {
            let parent_div = document.getElementById('dynamic-div');
            let table_block = document.createElement('div');
            section_datas.forEach(record => {
                template = record['form_section__json_template']
                data = record['section_data']
                for (let [key, value] of Object.entries(template)) {
                    if (value['input'] !='list' ) {
                        let field_block = document.createElement('div');
                        let field_lable = document.createElement('div');
                        let field_value = document.createElement('div');
                        if (data[key] !=null && data[key]!= '' && data[key] !== undefined){
                            if(['file', 'files'].includes(value['input'])){
                                field_value.innerHTML = createFileDownloadLink(data[key], file_download_url)
                            }else{
                                field_value.textContent = data[key]
                            }
                            
                        } else{
                            field_value.textContent = '--';
                        }
                        let field_lable_strong = document.createElement('strong');
                        field_lable_strong.textContent = value['label']
                        field_lable.append(field_lable_strong)
                        if (value['helptext'] !=null && value['helptext']!= '' && value['helptext'] !== undefined){
                            field_lable.append(value['helptext'])
                            field_block.classList="w3-container w3-row"
                            field_lable.classList = "w3-large w3-bold w3-padding-small"
                            field_value.classList = "w3-padding-small w3-border"
                        } else {
                            field_block.classList="w3-container w3-half w3-row"
                            field_lable.classList = "w3-large w3-bold w3-padding-small w3-third"
                            field_value.classList = "w3-rest w3-padding-small w3-border"
                        }
                        field_block.append(field_lable)
                        field_block.append(field_value)
                        parent_div.append(field_block)
                    } else {
                        let field_lable = document.createElement('div');
                        field_lable.textContent = value['label'];
                        field_lable.classList = "w3-large w3-bold w3-padding-small w3-margin"
                        table_block.classList = "w3-container"
                        table_block.append(field_lable)
                        let field_table = document.createElement('table');
                        field_table.classList = "w3-table  w3-margin"
                        field_table.id = key + '-table'
                        let thead = document.createElement('thead');
                        let head_tr = document.createElement('tr');
                        head_tr.id = key + '-table'+'-head'
                        thead.append(head_tr)
                        field_table.append(thead)
                        createTableHeader(head_tr, value['fields'])
                        table_block.append(field_table)
                        data_table[field_table.id] = {
                            "columns": value['fields'],
                            "data": data[key]
                        }
                    }
                }
            })
            parent_div.append(table_block)
        };
    
        $(document).ready(function () {
            createDisplayBlock();
            Object.keys(data_table).map(item => {
                let columns = Object.keys(data_table[item]['columns']).map(item => ({ data: item }))
                let i = 0
                let data_file_fields = {}
                for (let [key, value] of Object.entries(data_table[item]['columns'])) {
                    if (['file', 'files'].includes(value['input'])) {
                        data_file_fields[key]=i
                    }
                    i = i +1
                }
                let columnDefs = []
                if (data_file_fields!={}){
                    for (let [key, value] of Object.entries(data_file_fields)) {
                        columnDefs.push(
                            {
                                "targets": value, // Target the last column (index -1)
                                "data": null, // Use null if you're not binding any specific data
                                "render": function (data, type, row) {
                                    let content = createFileDownloadLink(data[value], file_download_url)
                                    return content;
                                }
                            }
                        )
                    }
                }

                $('#'+item).DataTable({
                    dom: 'Bfrtip',
                    columns: columns,
                    data: data_table[item]['data'],
                    buttons: ['pageLength','colvis'],
                    columnDefs: columnDefs
                })
            })
        });
    </script>
{% endblock %}