{% block content %}
<h1>{{form}}</h1>
<h3>{{form.description}}</h3>
<form method="post" enctype="multipart/form-data" id="main-form">
{% csrf_token %}
<div class="w3-row">
{% for field in case_form %}
    <div {% if not field.is_hidden %} class="w3-padding w3-half" {% endif %}>
    {% if not field.is_hidden %}
        {{ field.label_tag }}
    {% endif %}
    {% if field.help_text %}
        <p class="help-text">{{ field.help_text }}</p>
    {% endif %}

    {{ field }}

    {% if field.errors %}
        <div class="errorlist">
        {{ field.errors }}
        </div>
    {% endif %}
    </div>
{% endfor %}
</div>
{% for section in section_forms %}
    <div id="form_section_id_{{section.form_section_id.value}}" class="module w3-container ">
        {% for field in section %}
            <div class="{% if not field.is_hidden %} w3-padding w3-half form-input-container {% endif %}" id="{{ field.name }}_container">
                {% if not field.is_hidden %}
                    {{ field.label_tag }}
                    {% if field.help_text %}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                {% endif %}
                {{ field }}
                {% if field.errors %}
                    <div class="errorlist">
                    {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <!-- Render nested formsets -->
        {% for field_name, nested_formset in section.nested_formsets.items %}
            <div class="w3-padding w3-row" id="{{ field_name }}_container">
                <fieldset id="{{ field_name }}_formset">
                    {% for field_name2, value in section.nested_formset_fields.items %}
                        {% if field_name == field_name2 %}
                        <legend>{{value.label}}{% if value.required %}*{% endif %}:</legend>
                        {% endif %}
                    {% endfor %}
                    <button class="w3-padding w3-grey w3-border-0" type="button" onclick="addFormset('{{ field_name }}')">Add {{ field_name }}</button>
                    {{ nested_formset.management_form }}
                    {% for nested_form in nested_formset %}
                        <div class="formset-form w3-row">
                            {% for field in nested_form %}
                                <div class="w3-padding">
                                {% if not field.is_hidden %}
                                    {{ field.label_tag }}
                                {% endif %}
                                {% if field.help_text %}
                                    <p class="help-text">{{ field.help_text }}</p>
                                {% endif %}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="errorlist">
                                    {{ field.errors }}
                                    </div>
                                {% endif %}
                                </div>
                            {% endfor %}
                            <button class="w3-padding w3-red w3-border-0" type="button" onclick="removeFormset(this.parentElement)">Remove</button>
                        </div>
                    {% endfor %}
                    <div class="formset-form template" style="display: none;">
                        {{ nested_formset.empty_form.as_p }}
                    </div>
                </fieldset>
            </div>
        {% endfor %}
    </div>
{% endfor%}
{% if not view %}
    {% if edit %}
        <!-- Save as Draft button -->
        <button type="submit" name="action" value="cancel">Remove</button>
    {% endif %}
    <!-- Save as Draft button -->
    <button type="submit" name="action" value="draft">Save as Draft</button>
    <!-- Save to Submit button -->
    <button type="submit" name="action" value="submit">Save to Submit</button>
{% endif %}

</form>

<script type="text/javascript">

    $(document).ready( function() {
        // 初始化配置
        const formConfig = {{ form_template|safe }};
        initializeForm(formConfig, 'main-form');
        // Find all DELETE checkboxes in the formset
        let deleteCheckboxes = document.querySelectorAll('input[name$="-DELETE"]');
        // Hide each DELETE checkbox
        deleteCheckboxes.forEach(function(checkbox) {
            let label = document.querySelector(`label[for="${checkbox.id}"]`);
            checkbox.style.display = 'none';
            if (label) {
                label.remove();
            }
        });

        let selectInputs = document.querySelectorAll('select');
        selectInputs.forEach(function(select) {
            // Add class without overwriting existing classes
            select.classList.add("selectpicker");
            
            // Set data attribute properly
            select.setAttribute("data-width", "100%");
            select.setAttribute("data-live-search", "true");
            if (select.required) {
                select.setAttribute('data-style', 'input-border')
            }
            // Initialize the bootstrap-select plugin
            $(select).selectpicker();
        });
    });
</script>
{% endblock%}
