{% block content %}
<table id="listDataTable" class="display w3-table">
    <thead>
        <tr>
            {% for key, value  in file_fields.items %}
                <th>{{value}}</th>
            {% endfor %}
        </tr>
    </thead>
</table>
<script>
    const file_data_url = "{{ file_data_url|safe }}";
    const file_fields = {{ file_fields|safe }};
    const file_serverSide = {{ file_serverSide|default:0}};
    const file_root = "{{file_root|safe}}";
    const file_download = "{{ file_download_url |safe}}"; // Use a placeholder for the ID

    const perm_file_download = {{ perm_file_download|default:False|yesno:"true,false" }};
    const perm_file_exportCsv = {{ perm_file_exportCsv|default:False|yesno:"true,false" }};

    var file_created_at_index = -1;
    var file_updated_at_index = -1;

    var toLoadFileData = true
    // Function to create table header
    function define_file_columns() {
        var columns = []
        var index = 0
        for (key in file_fields) {
            columns.push({data:key})
            if (key === 'created_at') {
                file_created_at_index = index; // Store the index of 'created_at' column
            } else if (key === 'updated_at') {
                file_updated_at_index = index; // Store the index of 'updated_at' column
            }
            index++;
        }
        return columns
    }

    var file_order = [[0, 'desc']]; // Default order (ID column)
    if (file_updated_at_index !== -1) {
        file_order = [[file_updated_at_index, 'desc']]; // Order by 'create_at' if it exists
    }
    else if (file_created_at_index !== -1) {
        file_order = [[file_created_at_index, 'desc']]; // Order by 'create_at' if it exists
    }

    function load_file_data() {
        let file_buttons = ['pageLength','colvis']
        if(perm_file_exportCsv) {
            file_buttons.push('csv')
        }
        let columnDefs = [{ "visible": false, "targets": 0 }]  // Hide the ID column (first column)
        if (perm_file_download){
            columnDefs.push(
                    {
                        "targets": 1, // Target the last column (index -1)
                        "data": null, // Use null if you're not binding any specific data
                        "render": function (data, type, row) {
                            let content = createFileDownloadLink(row, file_download_url)
                            return content;
                        }
                    }
            )
        }
        setup_csrf();
        if (toLoadFileData) {
            $('#listDataTable').DataTable({
                "processing": true,
                "serverSide": (file_serverSide === 1)? true:false, // set to true if using django view for pagging
                "ajax": {
                    "url": file_data_url,
                    "type": 'POST',
                    "error": function(xhr, error, code) {
                        // Hide the default alert
                        console.log("DataTables error: ", error);
                        console.log("Detailed information: ", xhr.responseText);
                        // Show custom error message
                        const message = xhr.responseJSON['message']
                        if(message === undefined) {
                            createMessageBox('System error', 'error')
                        } else {
                            createMessageBox(message, 'error')
                        }
                        // window.location.href = '{{ request.path|safe }}';
                    }
                },
                "columns": define_file_columns(),  // 使用后端传递的列定义
                "dom": 'Bfrtip',
                "buttons": file_buttons, 
                "order": file_order, // order by column index, satrting from 0; 
                "columnDefs": columnDefs
            });
            // Correct the click event binding
            $('#dynamic-table tbody').on('click', 'a', function () {
                var data = table.row($(this).parents('tr')).data();
                window.location.href = "/"+data['file'];
            });
            toLoadFileData = false
        }
    };
</script>
{% endblock%}
