{% block content %}
<table id="listAuditDataTable" class="display w3-table">
    <thead>
        <tr>
            <th>Object</th>
            <th>Changed Time</th>
            <th>Changed Type</th>
            <th>Changed By</th>
            <th>Changes</th>
        </tr>
    </thead>
</table>
<script>
    const audit_fields = {{ audit_fields|safe }};
    const audit_url = "{{ audit_url|safe }}";
    const audit_serverSide = {{ audit_serverSide|default:0}};
    const audit_exportCsv = {{ audit_exportCsv|default:False|yesno:"true,false" }};
    const audit_buttons = ['pageLength','colvis']

    var audit_created_at_index = -1;
    var audit_updated_at_index = -1;

    var toLoadAuditData = true
    // Function to create table header
    function define_audit_columns() {
        var columns = []
        var index = 0
        for (key in audit_fields) {
            columns.push({data:key})
            if (key === 'created_at') {
                audit_created_at_index = index; // Store the index of 'created_at' column
            } else if (key === 'updated_at') {
                audit_updated_at_index = index; // Store the index of 'updated_at' column
            }
            index++;
        }
        return columns
    }

    var audit_order = [[0, 'desc']]; // Default order (ID column)
    if (audit_updated_at_index !== -1) {
        audit_order = [[audit_updated_at_index, 'desc']]; // Order by 'create_at' if it exists
    }
    else if (audit_created_at_index !== -1) {
        audit_order = [[audit_updated_at_index, 'desc']]; // Order by 'create_at' if it exists
    }

    function load_audit_data() {
        if(audit_exportCsv) {
            audit_buttons.push('csv')
        }
        if (toLoadAuditData ) {
            setup_csrf();
            $('#listAuditDataTable').DataTable({
                "processing": true,
                "serverSide": (audit_serverSide === 1)? true:false, // set to true if using django view for pagging
                "ajax": {
                    "url": audit_url,
                    "type": 'POST',
                    "error": function(xhr, error, code) {
                        // Hide the default alert
                        console.log("DataTables error: ", error);
                        console.log("Detailed information: ", xhr.responseText);
                        // Show custom error message
                        const message = xhr.responseJSON['message']
                        if(message === undefined) {
                            createMessageBox('System error', 'error')
                        } else {
                            createMessageBox(message, 'error')
                        }
                        // window.location.href = '{{ request.path|safe }}';
                    }
                },
                "columns": define_audit_columns(),  // 使用后端传递的列定义
                "dom": 'Bfrtip',
                "buttons": audit_buttons, 
                "order": audit_order // order by column index, satrting from 0
            });   
            toLoadAuditData = false
        }
    };
</script>
{% endblock%}