{% extends "base/app_base.html" %}
{% load i18n static %}
{% load custom_tags %}

{% block extrahead %} 
{{ block.super }}
<script src="{% static 'js/json_form.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock%}


{% block content %}
{% include "jsonForm_blocks/form_block.html" with form=form section_forms=section_forms case_form=case_form %}
{% endblock%}

