{% extends "base/app_base.html" %}
{% load i18n static %}
{% block extrahead %}{{ block.super }}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
<script src="https://d3js.org/d3.v6.min.js"></script>
<style>
    .node rect {
        fill: #fff;
        stroke: #000;
        stroke-width: 2px;
    }

    .link {
        fill: none;
        stroke: #000;
        stroke-width: 2px;
    }

    .label {
        font: 12px sans-serif;
        fill: #000;
        pointer-events: none;
    }
</style>
{% endblock %}
{% block title %}
Workflow Diagram
{% endblock %}
{% block content %}
{% include "jsonForm/case_workflow_block.html" with workflow_data=workflow_data case_data=case_data%}
{% endblock%}

