{% extends "base/app_base.html" %}
{% load i18n static %}

{% block title%}
{{title}}
{% endblock%}

{% block content %}
<h3 class="w3-magin w3-padding w3-bar w3-grey">
    {{subtitle}}
</h3>
<br/>
<div>
    {% include "base_blocks/object_display_block.html" with object_data=record object_fields=fields %}
</div>
<div class="w3-bar w3-grey w3-margin">
    {% if sub_tables is not None %}
        {% for tab in sub_tables %}
            {% if tab.dictionary_code in permission_list%}
                <button class="w3-bar-item w3-button" onclick="openTab('{{tab.dictionary_code}}')">{{tab.label}}</button>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% if sub_tables is not None %}
    {% for tab in sub_tables %}
        <div id="{{tab.dictionary_code}}" class="w3-container w3-display-container case_tab" style="display:none">
            <table id="listDataTable-{{tab.dictionary_code}}" class="display w3-table">
                <thead>
                    <tr>
                        {% for key, value  in tab.fields.items %}
                            <th>{{value}}</th>
                        {% endfor %}
                        <th>Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    {% endfor %}
{% endif %}
<script>
    
    const sub_tables = {{ sub_tables|safe }};
    // const path = '{{ request.path|safe }}';
    var sub_data_url = "{% url 'api:app_model_view_details_sub_table' app_name model 0 1 id %}"; // Use a placeholder for the ID
    var sub_details_url = "{% url 'app:app_model_view_details' app_name 0 1 %}"; // Use a placeholder for the ID
    var sub_file_url = "{% url 'api:app_model_view_details_file_download' app_name model 0 1 id %}"; // Use a placeholder for the ID

    function openTab(tab_name) {
        let i;
        let x = document.getElementsByClassName("case_tab");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      document.getElementById(tab_name).style.display = "block";
      loaddata(tab_name, 0)
    }
    function get_fields(tab_name) {
        let tab = sub_tables.find((element) => element['dictionary_code'] == tab_name);
        return tab['fields']
    }
    function get_data_url(tab_name) {
        let tab = sub_tables.find((element) => element['dictionary_code'] == tab_name);

        let url = createActionLink(tab_name, '/0/', sub_data_url)
        let finalUrl = createActionLink(tab['id_filter_name'], '/1-filter/', url); // Replace placeholder with actual ID
        return finalUrl
    }
    function get_sub_details_url(tab_name, id) {
        let url = createActionLink(tab_name, '/0/', sub_details_url)
        let finalUrl = createActionLink(id, '/1-filter/', url); // Replace placeholder with actual ID
        return finalUrl
    }
    function get_sub_file_url(tab_name, id) {
        let tab = sub_tables.find((element) => element['dictionary_code'] == tab_name);
        let url = createActionLink(tab['id_filter_name'], '/0-filter', sub_file_url)
        let finalUrl = createActionLink(id, '/1-filter/', url); // Replace placeholder with actual ID
        return finalUrl
    }
    // Function to create table header
    function define_columns(tab_name) {
        let columns = []
        let fields = get_fields(tab_name)
        for (key in fields) {
            columns.push({data:key})
        }
        columns.push({data: null})
        return columns
    }
    function loaddata(tab_name, serverSide) {
        let buttons = ['pageLength','colvis']
        let csvKey = tab_name + "__" + "exportCsv"
        if (permission_list.includes(csvKey)) {
            buttons.push("csv")
        }
        let perm_details = false
        if (permission_list.includes(tab_name + "__" + "details")) {
            perm_details = true
        }
        let perm_file_download = false
        if (permission_list.includes(tab_name + "__" + "download")) {
            perm_file_download = true
        }
        setup_csrf();
        let html_table_name = '#listDataTable-'+tab_name
        let tbody = document.querySelector(html_table_name + ' tbody');
        if (!(tbody && tbody.rows.length > 0)){
            $(html_table_name).DataTable({
                "processing": true,
                "serverSide": (serverSide === 1)? true:false, // set to true if using django view for pagging
                "ajax": {
                    "url": get_data_url(tab_name),
                    "type": 'POST',
                    "error": function(xhr, error, code) {
                        // Hide the default alert
                        console.log("DataTables error: ", error);
                        console.log("Detailed information: ", xhr.responseText);
                        // Show custom error message
                        const message = xhr.responseJSON['message']
                        if(message === undefined) {
                            $('#listDataTable-'+tab_name).html('<div class="alert alert-danger">System error</div>');
                            alert("System error");
                        } else {
                            $('#listDataTable-'+tab_name).html('<div class="alert alert-danger">'+message+'</div>');
                            alert(message);
                        }
                        window.location.href =  "{{ request.path|safe }}";
                    }
                },
                "columns": define_columns(tab_name),  // 使用后端传递的列定义
                "dom": 'Bfrtip',
                "buttons": buttons, 
                "order": [[1, 'desc']], // order by column index, satrting from 0; 1 is change time 
                "columnDefs": [
                    {
                        "targets": -1, // Target the last column (index -1)
                        "data": null, // Use null if you're not binding any specific data
                        "render": function (data, type, row) {
                            let result = ""
                            // Construct the href using the file data
                            if (perm_details == true) {
                                result = result + '<a href="'+get_sub_details_url(tab_name, row['id'])+ '" target="_blank">Details</a>'
                            }
                            if (perm_file_download == true) {
                                result = result + '<a href="'+get_sub_file_url(tab_name, row['id'])+ '" download>Download</a>'
                            }
                            return result;
                        }
                    },
                    { "visible": false, "targets": 0 }  // Hide the ID column (first column)
                ],
            });
        }
    };
</script>
{% endblock%}

