{% extends "base/app_base.html" %}
{% load i18n static %}
{% load custom_tags %}

{% block content %}
<div class="w3-cell-row">
    <form method="get" class="w3-container w3-cell w3-cell-top">
        {{ filter.form.as_p }}
        {% for header in selected_headers %}
            <input type="hidden" name="headers" value="{{ header }}">
        {% endfor %}
        <button type="submit">Search</button>
    </form>
    {% if header_form and permission__reArrangeHeading %}
        <form method="post" class="w3-container w3-cell w3-cell-bottom" id="re-arrangeHeading">
            {% csrf_token %}
            {{ header_form.as_p }}
            <button type="submit" class="w3-right">Re-arrange Heading</button>
        </form>
    {% endif %}
</div>
{% if cases %}
    <div class="w3-container w3-padding">
        {% render_table cases %}
    </div>
{% endif %}
{% endblock%}

