{% extends "base/app_base.html" %}
{% load i18n static %}
{% load custom_tags %}
{% load tz %}

{% block content %}
<h3 class="w3-magin w3-padding w3-bar w3-grey">
   Case: &nbsp;  {{ case_instance.id }}
</h3>
<div class="w3-padding">
    {% for sm in current_page_menu.sub_menu %}
        {% if sm.diango_view is not None and sm.diango_view != '' and sm.key == "workflowLink" %}
            <button onclick="window.open('{% url sm.diango_view mini_app.key case_instance.form.code case_instance.id %}','_blank')" class="w3-padding-small logo-navy-background w3-red w3-border-0 w3-hover-light-grey">
                {{sm.label}}
            </button>
        {% elif sm.key == "workflowLink"%}
            <button onclick="window.open('{% url 'app:app_case_workflow' mini_app.key case_instance.form.code case_instance.id %}','_blank')" class="w3-padding-small logo-navy-background w3-red w3-border-0 w3-hover-light-grey">
                {{sm.label}}
            </button>
        {% elif sm.diango_view is not None and sm.diango_view != '' and sm.key == "editLink" %}
            <button onclick="window.open('{% url sm.diango_view case_instance.id %}','_blank')" class="w3-padding-small logo-navy-background w3-red w3-border-0 w3-hover-light-grey">
                {{sm.label}}
            </button>
        {% elif sm.key == "editLink"%}
            <button onclick="window.open('{% url 'app:app_my_cases_edit' mini_app.key case_instance.form.code case_instance.id %}','_blank')" class="w3-padding-small logo-navy-background w3-red w3-border-0 w3-hover-light-grey">
                {{sm.label}}
            </button>
        {% endif %}
    {% endfor %}
</div>
{% if pending_task_forms %}
<div class="w3-container">
    {% for form in pending_task_forms%}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="{% if not field.is_hidden %} w3-padding w3-half {% endif %}" id="{{ field.name }}_container">
                    {% if not field.is_hidden %}
                        <div class="w3-large w3-bold w3-padding-small w3-third">
                            {{ field.label_tag }}
                        </div>
                    {% endif %}
                        <div class=" {% if not field.is_hidden %} w3-large w3-bold w3-padding-small w3-rest form-input-container {% endif %}">
                        {{ field }}
                        </div>
                    {% if field.help_text and not field.is_hidden%}
                        <p class="help-text">{{ field.help_text }}</p>
                    {% endif %}
                    {% if field.errors %}
                        <div class="errorlist">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <div class="w3-row">
                <button class="w3-right w3-grey w3-hover-light-grey w3-border-0 w3-padding" type="submit">Submit</button>
            </div>
        </form>
    {% endfor %}
</div>
<h4 class="w3-magin w3-padding w3-bar w3-grey">
    Case Details
</h4>
{% endif %}
{% include 'jsonForm_blocks/case_instance_display_block.html' %}
{% if display_type and display_type == "list" %}
    {% include 'jsonForm_blocks/form_case_data_list_block.html' with queryset=section_datas_list fields=section_datas_fields%}
{% else %}
    {% include "jsonForm_blocks/form_case_data_block.html" with section_datas=section_datas %}
{% endif %}
<div class="w3-bar w3-grey w3-margin">
    {% for sm in current_page_menu.sub_menu %}
        {% if sm.key|endswith:"Tab" %}
            <button class="w3-bar-item w3-button" onclick="openTab('{{sm.key}}')">{{sm.label}}</button>
        {% endif %}
    {% endfor %}
</div>
{% if permission__tasksTab %}
    <div id="tasksTab" class="w3-container w3-display-container case_tab">
        {% include "base_blocks/list_block.html" with queryset=task_instances fields=task_fields exportCsv=permission__tasksTab__exportCsv%}
    </div>
{% endif %}
{% if permission__documentsTab %}
<div id="documentsTab" class="w3-container w3-display-container case_tab" style="display:none">
    {% include "base_blocks/list_block_api_document.html" with file_data_url=file_data_url file_fields=file_fields file_serverSide=0 file_download_url=file_download_url perm_file_exportCsv=permission__documentsTab__exportCsv perm_file_download=permission__documentsTab__download%}
</div>
{% endif %}
{% if permission__historyTab %}
<div id="historyTab" class="w3-container w3-display-container case_tab" style="display:none">
    {% include "base_blocks/list_block_api_audit_history.html" with audit_url=history_data_url audit_fields=history_fields audit_serverSide=0 audit_exportCsv=permission__historyTab__exportCsv%}
</div>
{% endif %}

<script>
    function openTab(name) {
      let i;
      let x = document.getElementsByClassName("case_tab");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      let element = document.getElementById(name)
      if (element != null ) {
        document.getElementById(name).style.display = "block"; 
      }
      if(name == 'historyTab'){
        load_audit_data()
      }
      if(name == 'documentsTab'){
        load_file_data()
      }
    }
</script>
{% endblock%}

