{% load i18n static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title is not None %} {{title}} {% else %} {{current_page_menu.label}} {% endif %}{% if mini_app is not None %} | {{mini_app.label}}{%endif%}
    </title>
<link rel="icon" href="/static/image/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="{% static "admin/css/base.css" %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'base/css/custom.css' %}">

<script src="/static/js/common.js"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  const None = null;
  const True = true;
  const False = false;
  const permission_list = {{permission_list|safe}}
</script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">

    <!-- Header -->
    {% block header %}
      <header id="header">
        <div class="w3-bar">
          <div class="w3-left">
            <div id="site-name" class="w3-xxlarge logo-navy">
                <a href="{% url 'app:home' %}" class="color: red"><img src="{% static 'image/brand_navy.png' %}" alt="logo"/></a>
                <i><strong><b>{{site_header}}</b></strong></i>
            </div>
          </div>
          <div class="w3-right">
            {% if not user.is_anonymous %}
            <a href="{% url 'app:user_profile' %}" class="logo-navy"><i class="fa fa-user-circle w3-xxlarge logo-navy"></i></a>
            <div id="user-tools" class="w3-left-align logo-navy">
                {% block welcome-msg %}
                    <p><strong>{{user}}</strong></p>
                {% endblock %}
                {% block userlinks %}
                    {% if user.is_active and user.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}" class="logo-navy">{% translate 'Documentation' %}</a> /
                        {% endif %}
                    {% endif %}
                    {% if user.has_usable_password %}
                    <a href="{% url 'password_change' %}" class="logo-navy">{% translate 'Change password' %}</a> /
                    {% endif %}
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"  class="logo-navy">{% translate 'Log out' %}</button>
                    </form>
                {% endblock %}
                <a href="#"onclick="history.back()" class="logo-navy">Back  &#11146; </a>
            </div>
            {% endif %}
          </div>
        </div>
      </header>
    {% endblock %}
    <!-- END Header -->

    <div class="main" id="main">
      {% block left-sidebar %}{% endblock %}
      <main id="content-start" class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="colM">
          {% block content %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>{% block footer %}{% endblock %}</div>
      </main>
    </div>
</div>
<!-- END Container -->
</body>
</html>
