{% load i18n static %}
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if title is not None %} {{title}} {% else %} {{current_page_menu.label}} {% endif %}{% if mini_app is not None %} | {{mini_app.label}}{%endif%}
    </title>
<link rel="icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
<link rel="stylesheet" href="{% static 'admin/css/base.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="{% static 'base/css/custom.css' %}">

<script src="{% static 'js/common.js' %}"></script>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
  const None = null;
  const True = true;
  const False = false;
  const permission_list = {{permission_list|safe}}
  var dictionary_url = "{% url 'api:global_dictionary_view' 0 1 %}";
</script>
{% block extrastyle %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now "Z" %}">
<!-- Container -->
<div id="container">

    <!-- Header -->
    {% block header %}
      <header id="header">
        <div class="w3-bar">
          <div class="w3-left">
            <div id="site-name" class="w3-xxlarge logo-navy">
                <a href="{% url 'app:home' %}" class="color: red"><img src="{% static 'image/brand_navy.png' %}" alt="logo"/></a>
                <i><strong><b>{{site_header}} {% if mini_app is not None %} | {{mini_app.label}} {%endif%}</b></strong></i>
            </div>
          </div>
          <div class="w3-right">
            
            {% if user_info.is_authenticated %}
            <a href="{% url 'user_profile' %}" class="logo-navy"><i class="fa fa-user-circle w3-xxlarge logo-navy"></i></a>
            <div id="user-tools" class="w3-left-align logo-navy">
                {% block welcome-msg %}
                    <p><strong>{{user}}</strong></p>
                {% endblock %}
                {% block userlinks %}
                    {% if user_info.is_active and user_info.is_staff %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                            <a href="{{ docsroot }}" class="logo-navy">{% translate 'Documentation' %}</a> /
                        {% endif %}
                    {% endif %}
                    {% if user_info.is_superuser %}
                      <a href="{% url 'password_change' %}" class="logo-navy">{% translate 'Change password' %}</a> /
                    {% endif %}
                    <form id="logout-form" method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit"  class="logo-navy">{% translate 'Log out' %}</button>
                    </form>
                {% endblock %}
                <a href="#"onclick="history.back()" class="logo-navy">Back  &#11146; </a>
            </div>
            {% endif %}
          </div>
          <div class="menu-container w3-right w3-margin-right">
            <div class="menu-icon W3-center w3-padding w3-margin-small">
                <i class="fa fa-bars w3-large">&nbsp; Menu</i>
            </div>
            <div class="menu-list">
                {% for app in app_tree %}
                        {% if app.link %}
                            <div class="w3-row">
                                <a href="{{app.link}}" class="logo-navy w3-hover-light-grey {% if mini_app.label == app.label %} w3-khaki {% else %}w3-grey{% endif %}">
                                    {{app.label}}
                                </a>
                                {% for m in app.sub_menu %}
                                    {% if m.link  and m.menu_level == 1 %}
                                      <div class="w3-half">
                                          <a href="{{m.link}}" class="logo-navy">
                                          &nbsp;{{m.label}}&nbsp;
                                          </a>
                                      </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                {% endfor %}
            </div>
          </div>
        </div>
      </header>
    {% endblock %}
    <!-- END Header -->
    
    <div class="main" id="main">
      <main id="content-start" class="content">
        {% block messages %}
          {% if messages %}
            <ul class="messagelist">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endblock messages %}
        <!-- Content -->
        <div id="content" class="colM">
          {% block content %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>{% block footer %}{% endblock %}</div>
      </main>
    </div>
</div>
<!-- END Container -->
</body>
</html>
