{% extends "base/base.html" %}
{% load i18n static %}
{% load custom_tags %}

{% block title%}Home{% endblock%}

{% block content %}
<div class="grid-container">
    {% for app in app_tree %}
        <div class="grid-item">
            {% if app.link %}
                <a href="{{app.link}}">
                    <i class="{{app.icon}} w3-jumbo"></i>
                    <p>{{app.label}}</p>
                </a>
            {% endif %}
        </div>
    {% endfor %}
  </div>
{% endblock%}

{% block footer_line %}
{% endblock %}
