{% extends "base/app_base.html"%}
{% load i18n static %}

{% block title%}
{% trans 'User Profile' %}
{% endblock%}

{% block content %}
<div class="w3-container w3-margin">
    {% include "base_blocks/object_display_block.html" with object_data=profile object_fields=fields %}
</div>
<div class="w3-container w3-margin w3-row">
    <div class="w3-container w3-half w3-row">
        <div class="w3-large w3-bold w3-padding-small w3-third">Teams</div>
        <div class="w3-rest w3-padding-small w3-border">
            {% for team in request.user.team.all %}
            <p>{{team}}</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="w3-container w3-margin">
    {% include "base_blocks/list_block.html" with queryset=permission fields=permission_fields %}
</div>
{% endblock%}

